[holland]

plugin_dirs         = {{ holland_plugin_dirs }}
backup_directory    = {{ holland_backup_directory }}
backupsets          = {{ holland_backupsets }}
umask               = {{ holland_umask }}
path                = {{ holland_path }}

[logging]

filename            = {{ holland_logging_filename }}
level               = {{ holland_logging_level }}
